.contacto {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    &__img {
        text-align: center;
        margin: 20px;
        .contacto__picture {
            max-width: 80%;
            border-radius: 40px;
            box-shadow: 2px 2px 0px $color-shadow;
        }
    }
    .form-label {
        color: $color-primary;
        text-shadow: 2px 2px 0px $color-shadow;
        font-size: 20px;
    }
    .form-text {
        color:$color-tertiary;
    }
}






