
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-item {
    .d-block {
        opacity: 70%
    }
    .d-md-block {
        color: var(--color-tertiary);
        font-size: 40px;
        margin-bottom: 35px;
        text-shadow: 3px 3px 3px #000000;
        font-weight: 700;
    }
}


.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
}

.noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.noticia__texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noticia__img {
    max-width: 80%;
    border-radius: 40px;
    box-shadow: 3px 3px 0px #000000;
}