.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        h5 {
            color: var(--color-primary);
            text-shadow: 3px 3px 3px #000000;
        }
        margin: 20px auto;
        background-color: var(--color-quaternary);
        img {
            border-radius: 5%;
        }
        .card-text {
            color: var(--color-primary);
        }
    }
}

.sobre-nosotros-grid {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    .sobre-nosotros__img {
        text-align: center;
        .sobre-nosotros__picture {
            max-width: 80%;
            border-radius: 40px;
            box-shadow: 2px 2px 0px var(--color-shadow);
        }
    }
    .sobre-nosotros__img--left {
        text-align: left;
    }
    h3{
        color: var(--color-primary);
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        text-shadow: 2px 2px 0px var(--color-shadow);
        text-decoration: underline;
    }
}