#team {
    margin: 10px auto;
    align-self: center;
    color: $color-secondary;
    text-shadow: 3px 3px 3px $color-tertiary;
    font-weight: bold;
    min-width: 540px;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: -webkit-linear-gradient(240deg, $color-tertiary 0%, $color-primary 100%);
    background-image: -moz-linear-gradient(240deg, $color-tertiary 0%, $color-primary 100%);
    background-image: -o-linear-gradient(240deg, $color-tertiary 0%, $color-primary 100%);
    background-image: linear-gradient(240deg, $color-tertiary 0%, $color-primary 100%);
    padding: 64px 0 100px;
    -webkit-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
    clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
    -moz-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
    -o-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
    .card{
        margin: 20px 10px;
        background: -webkit-linear-gradient(220deg, $color-quaternary 55%, $color-secondary, $color-primary) ;
        background: -moz-linear-gradient(220deg, $color-quaternary 55%, $color-secondary, $color-primary) ;
        background: -o-linear-gradient(220deg, $color-quaternary 55%, $color-secondary, $color-primary) ;
        background: linear-gradient(220deg, $color-quaternary 55%, $color-secondary, $color-primary) ;
        h5 {
            color: $color-primary;
            text-shadow: 3px 3px 3px $color-shadow;
        }
        img {
            border-radius: 5%;
        }
        .card-text {
            color: $color-primary;
        }
    }
}

.sobre-nosotros-grid {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    justify-items: center;
    align-items: center;
    .sobre-nosotros__img {
        text-align: center;
        .sobre-nosotros__picture {
            max-width: 80%;
            border-radius: 40px;
            box-shadow: 2px 2px 0px $color-shadow;
        }
    }
    .sobre-nosotros__img--left {
        text-align: left;
    }
    h3{
        color: $color-primary;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        text-shadow: 2px 2px 0px $color-shadow;
        text-decoration: underline;
    }
}