/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap");
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.carousel-item .d-block {
  opacity: 70%;
}
.carousel-item .d-md-block {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 35px;
  text-shadow: 3px 3px 3px #000000;
  font-weight: 700;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #000000;
  border-radius: 50%;
}

.noticia {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.noticia .noticia__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.noticia .noticia__texts .noticia__img {
  max-width: 80%;
  border-radius: 40px;
  box-shadow: 3px 3px 0px #000000;
}

#team {
  margin: 20px 10px;
  align-self: center;
  color: #355675;
  text-shadow: 3px 3px 3px #ffffff;
  font-weight: bold;
  min-width: 540px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(240deg, #ffffff 0%, #abcacf 100%);
  padding: 100px 0 100px;
  -webkit-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
  clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
  -moz-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
  -o-clip-path: polygon(0% 4%, 100% 0%, 100% 96%, 0% 100%);
}
.team .card {
  margin: 20px 10px;
  background: linear-gradient(220deg, #1e304a 55%, #355675, #abcacf);
}
.team .card h5 {
  color: #abcacf;
  text-shadow: 3px 3px 3px #000000;
}
.team .card img {
  border-radius: 5%;
}
.team .card .card-text {
  color: #abcacf;
}

.sobre-nosotros-grid {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  justify-items: center;
  align-items: center;
}
.sobre-nosotros-grid .sobre-nosotros__img {
  text-align: center;
}
.sobre-nosotros-grid .sobre-nosotros__img .sobre-nosotros__picture {
  max-width: 80%;
  border-radius: 40px;
  box-shadow: 2px 2px 0px #000000;
}
.sobre-nosotros-grid .sobre-nosotros__img--left {
  text-align: left;
}
.sobre-nosotros-grid h3 {
  color: #abcacf;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  text-shadow: 2px 2px 0px #000000;
  text-decoration: underline;
}

.recursos-grid {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 100px;
  align-items: center;
}
.recursos-grid .recurso__picture {
  max-width: 80%;
  border-radius: 40px;
  box-shadow: 2px 2px 0px #000000;
}

.tutoriales__grid {
  display: grid;
  min-height: 300px;
  grid-template-areas: "img1 img2" "img3 img4";
  gap: 50px;
  margin: 3rem;
}
.tutoriales__grid .tutoriales__items:nth-of-type(1) {
  grid-area: img1;
}
.tutoriales__grid .tutoriales__items:nth-of-type(2) {
  grid-area: img2;
}
.tutoriales__grid .tutoriales__items:nth-of-type(3) {
  grid-area: img3;
}
.tutoriales__grid .tutoriales__items:nth-of-type(4) {
  grid-area: img4;
}
.tutoriales__grid .tutoriales__items {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 3px 3px 3px #000000;
}
.tutoriales__grid .tutoriales__items .tutoriales__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.tutoriales__grid .tutoriales__items .tutoriales__hover {
  position: absolute;
  background: rgba(30, 48, 74, 0.8117647059);
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #abcacf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.tutoriales__grid .tutoriales__items .tutoriales__hover a {
  color: unset;
}
.tutoriales__grid .tutoriales__items:hover .tutoriales__hover {
  transform: translateX(0%);
}

.contacto {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
}
.contacto__img {
  text-align: center;
  margin: 20px;
}
.contacto__img .contacto__picture {
  max-width: 80%;
  border-radius: 40px;
  box-shadow: 2px 2px 0px #000000;
}
.contacto .form-label {
  color: #abcacf;
  text-shadow: 2px 2px 0px #000000;
  font-size: 20px;
}
.contacto .form-text {
  color: #ffffff;
}

/*maps*/
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

/*estilos generales*/
* {
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #355675;
  font-family: "Bellota Text", cursive;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  max-width: 95%;
  text-align: center;
}

h1 {
  margin: 0.67em 0;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
  text-align: center;
}

strong {
  color: #8b0a92;
}

.subtitle {
  color: #abcacf;
  margin-bottom: 1.5rem;
  text-shadow: 3px 3px 3px #000000;
  text-align: center;
}

.paragraph {
  margin-bottom: 20px;
  font-weight: 300;
  text-align: justify;
  font-size: 25px;
}

.presentation__text {
  width: 80%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 25px;
}

ul li {
  list-style: none;
}

ul li a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.bottom {
  display: inline-block;
  background: #ffffff;
  padding: 15px 30px;
  color: #1e304a;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 700;
  font-size: 25px;
  margin: 30px auto;
}
.bottom:hover {
  background: linear-gradient(240deg, #ffffff 0%, #abcacf 100%);
}

.logo {
  width: 250px;
}

iframe {
  border-radius: 10px;
}

.row--modifier {
  row-gap: 3rem;
}

/*header*/
header {
  background-color: #1e304a;
}
header .container-fluid .nav-item {
  color: #abcacf;
  text-shadow: 3px 3px 3px #000000;
  font-size: 20px;
}
header .container-fluid .mt-3 {
  margin-bottom: 1rem;
}
header .container-fluid .mt-3 .me-2 {
  margin: 20px 30px;
}
header .container-fluid .mt-3 .btn-light {
  margin: 20px 20px;
}

/*footer*/
footer {
  background-color: #1e304a;
  text-align: center;
}
footer .footer {
  gap: 10px;
  align-items: center;
  display: grid;
  grid-template-areas: "logo address nv social" "copyright address nv social";
}
footer .footer__logo {
  grid-area: logo;
}
footer .footer__address {
  grid-area: address;
}
footer .footer__nav {
  grid-area: nv;
}
footer .footer__nav .footer-nav__items {
  font-size: 15px;
}
footer .footer__nav li:hover {
  background-color: #abcacf;
}
footer .footer__contenedor-social-media {
  grid-area: social;
}
footer .footer__copyright {
  grid-area: copyright;
}
footer ul {
  padding: 0;
  margin-bottom: 0;
}
footer h4 {
  color: #abcacf;
  margin: 10px auto;
  text-shadow: 3px 3px 3px #000000;
}
footer .footer__contenedor-social-media {
  margin: 50px;
  display: flex;
}
footer .footer__contenedor-social-media .footer__social-media {
  margin: 25px;
}
footer .footer__contenedor-social-media .footer__social-media .img-social-media {
  width: 50px;
  height: 60px;
  color: #ffffff;
}
footer .footer__contenedor-social-media .footer__social-media .img-social-media img {
  height: inherit;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  margin: 2px 4px;
}
footer .footer__contenedor-social-media .footer__social-media .img-social-media img:hover {
  transform: scale(1.1);
}
footer .footer__contenedor-social-media .footer__social-media .img-social-media figcaption {
  margin: 2px 2px;
}
footer .footer__copyright {
  font-style: italic;
}

/*media queries*/
/*lg*/
@media only screen and (max-width: 992px) {
  /* estilos generales*/
  header img, footer .footer__logo img {
    margin: 20px;
  }
  .navbar {
    display: flex;
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 40px;
  }
  .container {
    margin-bottom: 70px;
  }
  .subtitle {
    font-size: 25px;
  }
  .subtitle--font {
    color: #ffffff;
    font-size: 35px;
  }
  .presentation__text, .paragraph {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
  }
  .bottom {
    padding: 10px 10px;
    margin: 5px auto;
    font-size: 15px;
  }
  footer .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3fr, 2fr, 1fr);
    grid-template-areas: "logo address nv" "social social social" "copyright copyright copyright";
  }
  .footer__contenedor-social-media {
    justify-content: center;
  }
  /*index*/
  .d-md-block p {
    font-size: 20px;
  }
  .noticia {
    grid-template-columns: 1fr;
  }
  .noticia .noticia__texts .noticia__img {
    max-width: 45%;
  }
  /*sobre nosotros*/
  .sobre-nosotros-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 90%;
  }
  .sobre-nosotros-grid .sobre-nosotros__texts h3 {
    font-size: 18px;
    text-shadow: 2px 2px 0px #000000;
    text-decoration: underline;
  }
  .sobre-nosotros-grid .sobre-nosotros__texts .paragraph {
    list-style: none;
    padding-left: 0;
  }
  .sobre-nosotros-grid .sobre-nosotros__img .sobre-nosotros__picture {
    max-width: 50%;
  }
  .sobre-nosotros-grid .sobre-nosotros__img--mobile-order-1 {
    order: -1;
  }
  .sobre-nosotros-grid .sobre-nosotros__texts--mobile-order1 {
    order: 1;
  }
  /*recursos*/
  .recursos-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
    width: 90%;
  }
  .recursos-grid .recurso__picture {
    max-width: 50%;
  }
  .recursos-grid .recurso__img--mobile-order-1 {
    order: -1;
  }
  .recursos-grid .recurso__img--left {
    text-align: center;
  }
  .recurso__texts--mobile-order1 {
    order: 1;
  }
  .recurso__texts .bottom {
    display: inline-block;
    margin-bottom: 70px;
  }
  /*tutoriales*/
  .tutoriales__grid {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
  }
  .tutoriales__grid .tutoriales__items {
    box-shadow: none;
  }
  .tutoriales__grid .tutoriales__items .tutoriales__hover {
    position: relative;
    background: none;
    transform: translate(0);
    margin-top: 10px;
  }
  .tutoriales__grid .tutoriales__items .tutoriales__hover h2 {
    font-size: 25px;
  }
  /*contacto*/
  .contacto {
    grid-template-columns: 1fr;
    row-gap: 0;
  }
  .contacto__picture {
    display: none;
  }
  .form-label {
    font-size: 20px;
  }
}
/*md*/
@media only screen and (max-width: 768px) {
  /* estilos generales*/
  .presentation__text {
    width: 95%;
  }
  footer .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "logo" "address" "social" "copyright";
  }
  .footer__nav {
    display: none;
  }
  /*sobre nosotros*/
  .team .card img {
    width: 50%;
  }
}
/*sm*/
@media only screen and (max-width: 576px) {
  /*estilos generales*/
  header .container-fluid {
    height: auto;
  }
  footer .footer {
    display: block;
  }
  footer .footer .footer__logo img {
    width: 50%;
  }
  footer .footer .footer__contenedor-social-media {
    margin: 0px;
    flex-wrap: wrap;
  }
  footer .footer .footer__contenedor-social-media .footer__social-media {
    margin: 10px;
  }
  footer .footer .footer__contenedor-social-media .footer__social-media img {
    height: 30px;
    text-decoration: none;
  }
  footer .footer .footer__contenedor-social-media .footer__social-media figcaption {
    display: none;
  }
  /*index*/
  .noticia .noticia__texts .noticia__img {
    max-width: 70%;
  }
  /*sobre nosotros*/
  .sobre-nosotros-grid .sobre-nosotros__img .sobre-nosotros__picture {
    max-width: 70%;
  }
  /*recursos*/
  .recursos-grid .recurso__picture {
    max-width: 70%;
  }
}/*# sourceMappingURL=style.css.map */