
@import "index";
@import "sobre_nosotros";
@import "recursos";
@import "tutoriales";
@import "contacto";
@import "mixins";

/*variables*/

$shadow: 3px 3px 3px #000000;


:root {
    --color-primary: #abcacf;
    --color-tertiary: #ffffff;
    --color-secondary: #355675;
    --color-quaternary: #1e304a;
    --color-shadow: #000000;
    --color-highlight: #8b0a92;
    --bottom-padding: 15px 30px;
}

/*maps*/

$fonts: (
    h1: 4rem,
    h2: 3.5rem,
    h3: 1.75rem,
    h4: 1.5rem
);
@each $title, $size in $fonts {
    #{$title} {
        font-size: $size;
    }
}

/*estilos generales*/

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--color-secondary);
    font-family: 'Bellota Text', cursive;
    color: var(--color-tertiary);
}

.container {
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    max-width: 1920px;
    text-align: center;
}

h1 {
    margin: 0.67em 0;
    color: var(--color-tertiary);
    text-shadow: $shadow;
    text-align: center;
}

strong {
    color: var(--color-highlight);
}

.subtitle {
    color: var(--color-primary);
    margin-bottom: 35px;
    text-shadow: $shadow;
    text-align: center;
}

.paragraph {
    margin-bottom: 20px;
    font-weight: 300;
    text-align: justify;
    font-size: 25px;
}

.presentation__text {
    width: 80%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 25px;
}

ul li{
    list-style: none;
}

ul li a {
    color: var(--color-tertiary);
    font-size: 25px;
    text-decoration: none;
    background-color: transparent
}

a {
    text-decoration: none;
}

.bottom {
    display: inline-block;
    background: var(--color-tertiary);
    padding: var(--bottom-padding);
    color: var(--color-quaternary);
    text-decoration: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 25px;
    margin: 30px auto;
}

.logo {
    width: 250px;
}

/*header*/

header {
    background-color: var(--color-quaternary);
    .container-fluid {
        .nav-item {
            color: var(--color-primary);
            text-shadow: $shadow; 
            font-size: 20px;
        }
        .mt-3 {
            margin-bottom: 1rem;
            .me-2 {
                margin: 20px 30px;
            }
            .btn-light {
                margin: 20px 20px;
            }
        }
    }
}

/*footer*/

footer {
    background-color: var(--color-quaternary);
    text-align: center;
    .footer {
        gap: 10px;
        align-items: center;
        @include grid-template-area-footer; 
                          
    }
    .footer__logo {
        grid-area: logo;
    }
    .footer__address {
        grid-area: address;
    }
    .footer__nav {
        grid-area: nv;
        .footer-nav__items {
            font-size: 15px;
        }
        li:hover {
            background-color: var(--color-primary);
        }
    }
    .footer__contenedor-social-media {
        grid-area: social;
    }
    .footer__copyright {
        grid-area: copyright;
    }
    ul {
        padding: 0;
        margin-bottom: 0;
    }
    h4 {
        color: var(--color-primary);
        margin: 10px auto;
        text-shadow: $shadow;
    }
    .footer__contenedor-social-media {
        margin: 50px;
        display: flex;
        .footer__social-media {
            margin: 25px;
            .img-social-media {
                width: 50px;
                height: 60px;
                color: var(--color-tertiary);
                img {
                    height: inherit;
                    text-decoration: none;
                }
            }
        }
    }
    .footer__copyright {
        font-style: italic;
    }
}


/*media queries*/

/*lg*/
@media only screen and (max-width: 992px){

    /* estilos generales*/

    header img, footer .footer__logo img {
        margin: 20px;
        }
        .navbar {
            display: flex;
            flex-wrap: nowrap;
        }
    
        h1{
            font-size: 40px;
        }
    
        .container {
            margin-bottom: 70px;
        }
    
        .subtitle {
            font-size: 25px;
        }
        
        .presentation__text, .paragraph {
            font-size: 20px;
            font-weight: 300;
            text-align: justify;
        }
    
        .bottom {
            padding: 10px 10px;
            margin: 5px auto;
            font-size: 15px;
        } 
    
        footer {
            .footer {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3fr, 2fr, 1fr);
                grid-template-areas:
                "logo address nv" 
                "social social social"
                "copyright copyright copyright";
            }
        }
    
        .footer__contenedor-social-media {
            justify-content: center;
        }
        

        /*index*/
    
        .d-md-block p {
            font-size: 20px;
        }
        .noticia {
            grid-template-columns: 1fr;
        }
        .noticia .noticia__texts .noticia__img {
            max-width: 45%;
        }
        
    
        /*sobre nosotros*/
    
        .sobre-nosotros-grid {
            grid-template-columns: 1fr;
            row-gap: 20px;
            width: 90%;
        }
        .sobre-nosotros-grid .sobre-nosotros__img .sobre-nosotros__picture {
            max-width: 50%;
        }
        .sobre-nosotros-grid .sobre-nosotros__img--mobile-order-1 {
            order: -1;
        }
        .sobre-nosotros-grid .sobre-nosotros__texts--mobile-order1 {
            order: 1;
        }  
        
        /*recursos*/
    
        .recursos-grid {
            grid-template-columns: 1fr;
            row-gap: 20px;
            width: 90%;
        }
        .recursos-grid .recurso__picture {
            max-width: 50%;
        }
        .recursos-grid .recurso__img--mobile-order-1 {
            order: -1;
        }
        .recursos-grid .recurso__img--left {
            text-align: center;
        }
        .recurso__texts--mobile-order1 {
            order: 1;
        }
        .recurso__texts .bottom {
            display: inline-block;
            margin-bottom: 70px;
        }
    
        /*tutoriales*/
    
        .tutoriales__grid {
            display: flex;
            flex-direction: column;
            margin: 0 10%;
        }
    
        /*contacto*/
    
        .contacto {
            grid-template-columns: 1fr;
            row-gap: 0;
        }
    
        .contacto__picture {
            display: none;
        }
        .form-label {
            font-size: 20px;
        }
    }


/*md*/

@media only screen and (max-width: 768px){

    /* estilos generales*/

    header img, footer .footer__logo img {
    margin: 20px;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
    }

    h1{
        font-size: 40px;
    }

    .container {
        margin-bottom: 70px;
    }

    .subtitle {
        font-size: 25px;
    }
    
    .presentation__text, .paragraph {
        font-size: 20px;
        font-weight: 300;
        text-align: justify;
    }
    .presentation__text {
        width: 95%;
    }

    .bottom {
        padding: 10px 10px;
        margin: 5px auto;
        font-size: 15px;
    } 

    footer {
        .footer {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas:
            "logo"
            "address"
            "social"
            "copyright";
        }
    }

    .footer__contenedor-social-media {
        justify-content: center;
    }
    
    .footer__nav {
        display: none;
    }


    /*index*/

    .d-md-block p {
        font-size: 20px;
    }
    .noticia {
        grid-template-columns: 1fr;
    }
    .noticia .noticia__texts .noticia__img {
        max-width: 50%;
    }

    /*sobre nosotros*/

    .sobre-nosotros-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 90%;
    }
    .sobre-nosotros-grid .sobre-nosotros__img .sobre-nosotros__picture {
        max-width: 50%;
    }
    .sobre-nosotros-grid .sobre-nosotros__img--mobile-order-1 {
        order: -1;
    }
    .sobre-nosotros-grid .sobre-nosotros__texts--mobile-order1 {
        order: 1;
    }  
    
    /*recursos*/

    .recursos-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 90%;
    }
    .recursos-grid .recurso__picture {
        max-width: 50%;
    }
    .recursos-grid .recurso__img--mobile-order-1 {
        order: -1;
    }
    .recursos-grid .recurso__img--left {
        text-align: center;
    }
    .recurso__texts--mobile-order1 {
        order: 1;
    }
    .recurso__texts .bottom {
        display: inline-block;
        margin-bottom: 70px;
    }

    /*tutoriales*/

    .tutoriales__grid {
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    /*contacto*/

    .contacto {
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .contacto__picture {
        display: none;
    }
    .form-label {
        font-size: 20px;
    }
}


/*sm*/

@media only screen and (max-width: 576px){

    /*estilos generales*/

    header .container-fluid {
        height: auto;
    }
    header img, footer .footer__logo img {
    margin: 20px;
    }
    .navbar {
        display: flex;
        flex-wrap: nowrap;
    }

    h1{
        font-size: 40px;
    }

    .container {
        margin-bottom: 70px;
    }

    .subtitle {
        font-size: 25px;
    }
    
    .presentation__text, .paragraph {
        font-size: 20px;
        font-weight: 300;
        text-align: justify;
    }
    .presentation__text {
        width: 95%;
    }

    .bottom {
        padding: 10px 10px;
        margin: 5px auto;
        font-size: 15px;
    }
    footer {
        .footer {
            display: block;
            .footer__logo img {
                width: 50%;
            }
            .footer__nav {
                display: none;
            }
            .footer__contenedor-social-media {
                margin: 0px;
                flex-wrap: wrap;
                .footer__social-media {
                    margin: 10px;
                    img {
                        height: 30px;
                        text-decoration: none;
                    }
                    figcaption {
                        display: none;
                    }
                }
            }
        }
    }    
     /*index*/

    .noticia {
        grid-template-columns: 1fr;
    }

    /*sobre nosotros*/

    .sobre-nosotros-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 90%;
    }
    .sobre-nosotros-grid .sobre-nosotros__img--mobile-order-1 {
        order: -1;
    }
    .sobre-nosotros-grid .sobre-nosotros__texts--mobile-order1 {
        order: 1;
    }  
    
    /*recursos*/

    .recursos-grid {
        grid-template-columns: 1fr;
        row-gap: 20px;
        width: 90%;
    }
    .recursos-grid .recurso__img--mobile-order-1 {
        order: -1;
    }
    .recursos-grid .recurso__img--left {
        text-align: center;
    }
    .recurso__texts--mobile-order1 {
        order: 1;
    }
    .recurso__texts .bottom {
        display: inline-block;
        margin-bottom: 70px;
    }

    /*tutoriales*/

    .tutoriales__grid {
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }

    /*contacto*/

    .contacto {
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .contacto__picture {
        display: none;
    }
    .form-label {
        font-size: 20px;
    }
}